.rooms__wrapper {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.rooms__wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}

.rooms__error {
  text-align: center;
  color: red;
  font-size: 2rem;
  margin-top: 4rem;
}

.rooms__spinner {
  text-align: center;
  margin-top: 5rem;
}
